In [1]:
#Environment Set up
import pandas as pd 
import numpy as np 
import atoti as tt 
import re

Welcome to atoti 0.6.6!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [7]:
# import
df = pd.read_csv('burritos_01022018.csv')

In [9]:
#Look at data
df.head()

,Location,Burrito,Date,Neighborhood,Address,URL,Yelp,Google,Chips,Cost,...,Nopales,Lobster,Queso,Egg,Mushroom,Bacon,Sushi,Avocado,Corn,Zucchini
0,Donato's taco shop,California,1/18/2016,Miramar,6780 Miramar Rd,http://donatostacoshop.net/,3.5,4.2,NaN,6.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Oscar's Mexican food,California,1/24/2016,San Marcos,225 S Rancho Santa Fe Rd,http://www.yelp.com/biz/oscars-mexican-food-sa...,3.5,3.3,NaN,5.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Oscar's Mexican food,Carnitas,1/24/2016,NaN,NaN,NaN,NaN,NaN,NaN,4.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oscar's Mexican food,Carne asada,1/24/2016,NaN,NaN,NaN,NaN,NaN,NaN,5.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pollos Maria,California,1/27/2016,Carlsbad,3055 Harding St,http://pollosmaria.com/,4.0,3.8,x,6.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Column types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Location        385 non-null    object
 1   Burrito         385 non-null    object
 2   Date            385 non-null    object
 3   Neighborhood    87 non-null     object
 4   Address         83 non-null     object
 5   URL             82 non-null     object
 6   Yelp            82 non-null     float64
 7   Google          82 non-null     float64
 8   Chips           24 non-null     object
 9   Cost            378 non-null    float64
 10  Hunger          382 non-null    float64
 11  Mass (g)        22 non-null     float64
 12  Density (g/mL)  22 non-null     float64
 13  Length          251 non-null    float64
 14  Circum          249 non-null    float64
 15  Volume          249 non-null    float64
 16  Tortilla        385 non-null    float64
 17  Temp            365 non-null    float64
 18  Meat            373 non-null    float64
 19  Fillings        383 non-null    float64
 20  Meat:filling    377 non-null    float64
 21  Uniformity      383 non-null    float64
 22  Salsa           363 non-null    float64
 23  Synergy         383 non-null    float64
 24  Wrap            383 non-null    float64
 25  overall         383 non-null    float64
 26  Rec             228 non-null    object
 27  Reviewer        384 non-null    object
 28  Notes           129 non-null    object
 29  Unreliable      30 non-null     object
 30  NonSD           7 non-null      object
 31  Beef            176 non-null    object
 32  Pico            152 non-null    object
 33  Guac            147 non-null    object
 34  Cheese          155 non-null    object
 35  Fries           125 non-null    object
 36  Sour cream      89 non-null     object
 37  Pork            47 non-null     object
 38  Chicken         20 non-null     object
 39  Shrimp          21 non-null     object
 40  Fish            6 non-null      object
 41  Rice            35 non-null     object
 42  Beans           32 non-null     object
 43  Lettuce         11 non-null     object
 44  Tomato          7 non-null      object
 45  Bell peper      7 non-null      object
 46  Carrots         1 non-null      object
 47  Cabbage         8 non-null      object
 48  Sauce           38 non-null     object
 49  Salsa.1         6 non-null      object
 50  Cilantro        15 non-null     object
 51  Onion           17 non-null     object
 52  Taquito         4 non-null      object
 53  Pineapple       7 non-null      object
 54  Ham             1 non-null      object
 55  Chile relleno   4 non-null      object
 56  Nopales         4 non-null      object
 57  Lobster         1 non-null      object
 58  Queso           0 non-null      float64
 59  Egg             4 non-null      object
 60  Mushroom        3 non-null      object
 61  Bacon           3 non-null      object
 62  Sushi           2 non-null      object
 63  Avocado         13 non-null     object
 64  Corn            3 non-null      object
 65  Zucchini        1 non-null      object
dtypes: float64(20), object(46)
memory usage: 198.6+ KB

In [11]:
df.describe()

,Yelp,Google,Cost,Hunger,Mass (g),Density (g/mL),Length,Circum,Volume,Tortilla,Temp,Meat,Fillings,Meat:filling,Uniformity,Salsa,Synergy,Wrap,overall,Queso
count,82.000000,82.000000,378.000000,382.000000,22.000000,22.000000,251.000000,249.000000,249.000000,385.000000,365.000000,373.000000,383.000000,377.000000,383.000000,363.000000,383.000000,383.000000,383.000000,0.0
mean,3.898780,4.174390,7.048280,3.499895,546.181818,0.675277,20.072988,22.098996,0.785462,3.486104,3.741096,3.596247,3.527546,3.564403,3.422324,3.348485,3.576371,3.995561,3.604813,NaN
std,0.470748,0.377389,1.517983,0.808791,144.445619,0.080468,2.060584,1.795010,0.153465,0.787282,0.975079,0.835896,0.812342,0.987858,1.061032,0.927714,0.896275,1.107876,0.761901,NaN
min,2.500000,2.900000,2.990000,0.500000,350.000000,0.560000,15.000000,17.000000,0.400000,1.000000,1.000000,1.000000,1.000000,0.500000,0.000000,0.000000,1.000000,0.000000,1.000000,NaN
25%,3.500000,4.000000,6.250000,3.000000,450.000000,0.619485,18.500000,21.000000,0.680000,3.000000,3.000000,3.000000,3.000000,3.000000,2.500000,3.000000,3.000000,3.500000,3.000000,NaN
50%,4.000000,4.200000,6.950000,3.500000,540.000000,0.658099,20.000000,22.000000,0.770000,3.500000,4.000000,3.750000,3.500000,4.000000,3.500000,3.500000,3.800000,4.000000,3.750000,NaN
75%,4.000000,4.400000,7.750000,4.000000,595.000000,0.721726,21.500000,23.000000,0.880000,4.000000,4.500000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.100000,NaN
max,4.500000,5.000000,25.000000,5.000000,925.000000,0.865672,26.000000,29.000000,1.540000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,NaN

In [20]:
#remove '(g)'' from Mass column and "(g/mL)" from density columns; meat:filling to filling
df=df.rename(columns={'Mass (g)': 'Mass', 'Density (g/mL)': 'Density', 'Meat:filling': 'Filling'})
# Check by columns for spaces
df.columns

Index(['Location', 'Burrito', 'Date', 'Neighborhood', 'Address', 'URL', 'Yelp',
       'Google', 'Chips', 'Cost', 'Hunger', 'Mass', 'Density', 'Length',
       'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings', 'Filling',
       'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'overall', 'Rec', 'Reviewer',
       'Notes', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac', 'Cheese',
       'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish', 'Rice',
       'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots', 'Cabbage',
       'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito', 'Pineapple', 'Ham',
       'Chile relleno', 'Nopales', 'Lobster', 'Queso', 'Egg', 'Mushroom',
       'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini'],
      dtype='object')

In [23]:
# null info
df.isnull().any()
df.isnull().sum()/df.shape[0]

Location        0.000000
Burrito         0.000000
Date            0.000000
Neighborhood    0.774026
Address         0.784416
                  ...
Bacon           0.992208
Sushi           0.994805
Avocado         0.966234
Corn            0.992208
Zucchini        0.997403
Length: 66, dtype: float64

In [24]:
# atoti session attempt.  may not have installed correctly
session=tt.create_session(config={'user_content_storage': './content', 'port':9000})

/opt/homebrew/anaconda3/lib/python3.9/site-packages/atoti/_create_session.py:16: FutureWarning: Creating sessions with `create_session()` is deprecated, use `Session()` directly instead.
  deprecated(

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler = MinMaxScaler()
burrito_vars_norm = df.loc[:,['Circum', 'Volume', 'Length', 'Mass', 'Cost']]

In [28]:
burrito_vars_norm.isnull().sum()

Circum    136
Volume    136
Length    134
Mass      363
Cost        7
dtype: int64

In [29]:
bnorms = scaler.fit_transform(burrito_vars_norm)*10
df[['Circum_norm', 'Volume_norm', 'Length_norm', 'Mass_norm', 'Cost_norm']] = bnorms

In [30]:
df.columns

Index(['Location', 'Burrito', 'Date', 'Neighborhood', 'Address', 'URL', 'Yelp',
       'Google', 'Chips', 'Cost', 'Hunger', 'Mass', 'Density', 'Length',
       'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings', 'Filling',
       'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'overall', 'Rec', 'Reviewer',
       'Notes', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac', 'Cheese',
       'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish', 'Rice',
       'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots', 'Cabbage',
       'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito', 'Pineapple', 'Ham',
       'Chile relleno', 'Nopales', 'Lobster', 'Queso', 'Egg', 'Mushroom',
       'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini', 'Circum_norm',
       'Volume_norm', 'Length_norm', 'Mass_norm', 'Cost_norm'],
      dtype='object')

In [31]:
burrito_variables=pd.melt(df.reset_index(), id_vars = ['Location', 'Burrito'], value_vars = ['Circum_norm', 'Volume_norm', 'Length_norm', 'Mass_norm', 'Cost_norm'])
burrito_variables

                   Location               Burrito     variable     value
0        Donato's taco shop           California   Circum_norm       NaN
1      Oscar's Mexican food           California   Circum_norm       NaN
2      Oscar's Mexican food              Carnitas  Circum_norm       NaN
3      Oscar's Mexican food           Carne asada  Circum_norm       NaN
4              Pollos Maria            California  Circum_norm       NaN
...                     ...                   ...          ...       ...
1920  Rigoberto's Taco Shop           California     Cost_norm  1.753748
1921  Rigoberto's Taco Shop           California     Cost_norm  1.753748
1922            Burrito Box  Steak with guacamole    Cost_norm  3.866424
1923             Taco Stand           California     Cost_norm  2.226261
1924             Taco Stand           California     Cost_norm  2.226261

[1925 rows x 4 columns]

In [32]:
burrito_table = session.read_pandas(df,table_name = 'burritos')

In [33]:
burrito_table.head()

,Location,Burrito,Date,Neighborhood,Address,URL,Yelp,Google,Chips,Cost,...,Bacon,Sushi,Avocado,Corn,Zucchini,Circum_norm,Volume_norm,Length_norm,Mass_norm,Cost_norm
0,Donato's taco shop,California,1/18/2016,Miramar,6780 Miramar Rd,http://donatostacoshop.net/,3.5,4.2,N/A,6.49,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.590186
1,Oscar's Mexican food,California,1/24/2016,San Marcos,225 S Rancho Santa Fe Rd,http://www.yelp.com/biz/oscars-mexican-food-sa...,3.5,3.3,N/A,5.45,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.117674
2,Oscar's Mexican food,Carnitas,1/24/2016,N/A,N/A,N/A,NaN,NaN,N/A,4.85,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,0.845070
3,Oscar's Mexican food,Carne asada,1/24/2016,N/A,N/A,N/A,NaN,NaN,N/A,5.25,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.026806
4,Pollos Maria,California,1/27/2016,Carlsbad,3055 Harding St,http://pollosmaria.com/,4.0,3.8,x,6.59,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.635620

In [34]:
cube = session.create_cube(burrito_table)

In [35]:
h=cube.hierarchies
l=cube.levels
m=cube.measures

In [36]:
m['five'] = 5
m['five']

Measure(_name='five', _data_type=DataType(java_type='int', nullable=False), _cube_name='burritos', _folder=None, _formatter='INT[#,###]', _visible=True, _description=None)

In [37]:
session.visualize('exploration 1')

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.